@import "tailwindcss";

@theme {
    --color-background: #0F0F0F; /* Тот самый оттенок из StreamVibe */
    --color-foreground: #FFFFFF;
}

:root {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

body {
    @apply bg-[#0F0F0F] text-white antialiased;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Стилизация скроллбара, чтобы он не был белым на черном фоне */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0F0F0F;
}

::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}